* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.app {
  display: flex;
  height: 100vh;
  background-image: url('./assets/images/img-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

.main {
  margin: auto;
  width: 600px;
  height: 500px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.search-box {
  background-color: #6e72e8;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box .search-bar {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 6px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  
}

.search-bar:focus {
  background-color: rgba(255, 255, 255, 1)
}

.weather-section {
  margin: 20px 24px;

}

.location-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-info {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-img {
  background: url('./assets/images/sunny.png') center center/cover no-repeat;
  height: 300px;
  width: 300px;
  transition: 0.4s ease-out;
}

.weather-img.clouds {
  background: url('./assets/images/cloudy.png') center center/cover no-repeat;
 
}

.weather-img.rains {
  background: url('./assets/images/rainy.png') center center/cover no-repeat;
 
}

.weather-temp {
  font-size: 24px;
  font-weight: 600;
}

.weather-sign {
  font-size: 32px;
  font-weight: 600;

}

